@charset "UTF-8";

/* 초기화 */★외우기★
* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; }
a { text-decoration: none; color: var(--text-color); }

/* 컬러 가이드 */
:root {
  --main-color: #123123;  /*  주조색 */
  --sub-color:  #eeeeee;  /*  보조색 */
  --back-color: #ffffff;  /* 배경색 (지정)*/
  --text-color: #333333;  /* 기본 텍스트 색 (지정) */
}

/* 바디태그 */
body {
  background-color: var(--back-color);
  color: var(--text-color);
}

/* 레이아웃 */
.container {
  width: 1200px;
  margin: auto;
  border: 1px solid darkcyan; /* 지우기 */
}
header {
  width: 100%;
  height: 100%;
  border: 1px solid darkcyan; /* 지우기 */
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
section {
  width: 100%;
  border: 1px solid darkcyan; /* 지우기 */
}
#slides { height: 300px;    border: 1px solid darkcyan; /* 지우기 */ }
#contens { height: 200px;   border: 1px solid darkcyan; /* 지우기 */}
footer {
  width: 100%;
  height: 100px;
  border: 1px solid darkcyan; /* 지우기 */
}

/* UI */
/* header {} */
/* 로고 */
header {}
header .logo {}
header .logo a {}
header .logo a img {
  width: 200px;
  height: 40px;
}
/* 메인 메뉴 */
header nav {
  position: relative;
  top: 10%;
}
header nav .main-menu {
  display: flex;
  justify-self: center;
  align-items: center;
}
header nav .main-menu li {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
}
header nav .main-menu li a { 
  color: white; 
  display: inline-block;
  width: 100%;
  height: 100%;
}
header nav .main-menu li a:hover {
  background-color: #333333;
}

header nav .main-menu:hover .sub-menu {
  display: inherit;
}
/* 서브메뉴 */
header nav .sub-menu { display: none; } /* 마우스 안올렸을때 사라지기 */
header nav .sub-menu > li {
   background-color: white;
}
header nav .sub-menu > li a {
  color: var(--main-color);
}
header nav .sub-menu > li a:hover {
  background-color: var(--main-color);
  color: white;
}



/* 슬라이드 */
#slides {}
.slide-container {}
.slide-container .slide {}
.slide-container .slide img {}




/* 컨텐츠 */
#contents {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* 공지/갤러리 탭 */
.tab {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 200px; */
}
.tab-menu {
  display: flex;
  align-items: center;
  height: 40px;
}
.tab-menu .menu-item {
  border: 1px solid var(--main-color);
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tab-menu .menu-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tab-menu .menu-item:hover,
.tab-menu .menu-item .active {
  background-color: var(--main-color);
}

.tab-menu .menu-item:hover a,
.tab-menu .menu-item .active a {
  color: white;
} 
.tab-content {}
.tab-content .content-item {}
.tab-content .content-item table {
  border: 1px solid var(--main-color);
}
.tab-content .content-item table tr{
  height: 30px;
}

/* 홀수일때 */
.tab-content .content-item table tr:nth-of-type(odd){
  background-color: var(--sub-color);
}
/* 짝수일때 */
.tab-content .content-item table tr:nth-of-type(even){}

.tab-content .content-item table td{
  padding: 10px;
}
/* 갤러리 */
.gallery { }
.gallery .item {}
.gallery .item a {}
.gallery .item a img {}
/* 베너 */
.banner {}
.banner img {}


/* 바로가기 */
.link {}
.link img {}


/* 푸터 */
/* footer {} */
footer {}
footer .footer-logo {}
footer .footer-logo a {}
footer .footer-logo a img {}
/* 카피라이트 */
footer .copy {}
/* SNS */
footer .sns {}
footer .sns a {}
footer .sns a img{}




/* 레이어팝업 (모달) */
#modal {}
#modal .card {}
#modal .card h1 {}
#modal .card p {}
#modal .close {}
